main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.leftSideSplit {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 365px;
}

.rightSideSplit {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
